
.icon-lightbulb:before { content: '\e800'; } /* '' */
.icon-heart:before { content: '\e801'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
